- @title = "Results"

%ul.grid_3_cols#Portfolio
  - @items.each do |item|
    %li
      .item
        .img
          %a{ :href=>"/portfolio/#{item.id}", :rel=>:modal }
            %img{ :src=>item.thumb }
        .info
          %h2
            %a{ :href=>"/portfolio/#{item.id}", :rel=>:modal }= item.name
          .abstract
            :markdown
              #{item.abstract}
