//-------------------------------------------------------------------------
// Dimensions
//-------------------------------------------------------------------------
$SITE_WIDTH: 960px
$PAGE_HOME_WIDTH_DELTA: 100px

//-------------------------------------------------------------------------
// Colors & fonts
//-------------------------------------------------------------------------
$FONT: Helvetica, Arial, sans-serif
$FONT_HEADINGS: "Arial Narrow", $FONT

$COLOR_ORANGE: #F25623

//-------------------------------------------------------------------------
// Mixins
//-------------------------------------------------------------------------
=clearfix
  :overflow hidden
  :display inline-block
  &
    :display block

// TODO: use compass lib for css3 features
=border-radius($radius)
  :-webkit-border-radius $radius
  :-moz-border-radius $radius
  :-o-border-radius $radius
  :-ms-border-radius $radius
  :-khtml-border-radius $radius
  :border-radius $radius

/*-------------------------------------------------------------------------
/* General
/*-------------------------------------------------------------------------
*
  :-moz-box-sizing border-box

BODY
  :background #DFF0F6
  :margin 0

IMG
  :border none

HEADER, SECTION, FOOTER
  :display block

NAV
  UL
    :list-style none
    :margin 0
    :padding 0
    LI
      :display inline-block
      :*display inline

/*-------------------------------------------------------------------------
/* Typography
/*-------------------------------------------------------------------------
BODY
  :font 75%/normal $FONT
  :color #333

PRE, CODE, TT, KBD
  :font-family 'Courier New' Courier monospace
  :font-size 1.2em
A
  :text-decoration none
  :color $COLOR_ORANGE
  .Footer &, .Info &
    :color #FFF
    &:HOVER
      :color $COLOR_ORANGE

H1, H2
  :font-family $FONT_HEADINGS
  :text-transform uppercase

H1
  :font bold 3em/1em $FONT_HEADINGS
  :color #999999
  EM
    :color $COLOR_ORANGE
H2
  :font-size 1.8em
  :color $COLOR_ORANGE
  :margin 2em 0 1em
H3
  :font-size 1.2em

P, UL, OL, DL
  :margin 1.4em 0

EM
  :font-style normal

HR
  :height 1px
  :border none
  :border-bottom 1px solid #666

.hidden
  :display none

/*-------------------------------------------------------------------------
/* Structure
/*-------------------------------------------------------------------------
.Header
  :height 125px
  :background #000 url(/img/header_bg.gif) repeat-x
  .Logo
    :margin 30px 0 0

.MainNav
  +clearfix
  :font-family $FONT_HEADINGS
  :text-align right
  UL
    LI
      :vertical-align top
      :background #666
      A
        :display inline-block
        :padding 10px 20px
        :font-size 1.2em
        :font-weight bold
        :color #FFF
        :text-transform uppercase
      &:HOVER
        :background $COLOR_ORANGE
      &.selected A
        :background $COLOR_ORANGE
        :padding-bottom 20px
.Content
  :padding 1em 0 2em

.Footer
  :padding 2em 0
  :border-top 1px solid #D2D7D9
  :background #9AA5A9
  :color #000
  :text-align right

.FooterNav
  :line-height 1em
  LI
    :border-left 2px solid #FFF
    &.first
      :border-left none
    &.last A
      :padding-right 0
  A
    :display inline-block
    :padding 0 1em
    :font-weight bold
    :text-transform uppercase
  
  
.wrapper
  :width $SITE_WIDTH
  :margin 0px auto
  .page_home .Content &
    :width $SITE_WIDTH - $PAGE_HOME_WIDTH_DELTA

/*-------------------------------------------------------------------------
/* Icons
/*-------------------------------------------------------------------------
.icon
  :padding-left 18px
  :background no-repeat left center
.icon_more
  :background-image url(/img/icons/general/bullet.gif)
.icon_less
  :background-image url(/img/icons/general/bullet_disabled.gif)

/*-------------------------------------------------------------------------
/* Buttons
/*-------------------------------------------------------------------------
.button
  :padding .3em 1.2em
  +border-radius(1em)
  :line-height 1em
  :background $COLOR_ORANGE
  :color #FFF
  :font-weight bold
  &:HOVER
    :background lighten($COLOR_ORANGE, 15%)
  &:ACTIVE
    :background darken($COLOR_ORANGE, 15%)

/*-------------------------------------------------------------------------
/* Components
/*-------------------------------------------------------------------------
.Info
  +clearfix
  :background #9AA5A9
  :color #000
  .info_block
    :float left
    :width $SITE_WIDTH/3 - 2px
    .padding
      :padding 2em 1em
    .first
      :padding-left 0
    .last
      :padding-right 0
    H2
      :margin 0
      :color #FFF
      :font-size 1.4em

.grid_3_cols
  $grid_spacing: 80px
  :width $SITE_WIDTH + $grid_spacing
  :list-style none
  :letter-spacing -.4em
  :word-spacing -.4em
  :margin 0
  :padding 0
  * HTML &
    :padding-left $grid_spacing
  LI
    :display inline-block
    :*display inline
    :*zoom 1
    :letter-spacing normal
    :word-spacing normal
    :vertical-align top
    :width ($SITE_WIDTH + $grid_spacing) / 3
  .item
    :padding 0 $grid_spacing 40px 0

/*-------------------------------------------------------------------------
/* Slideshow
/*-------------------------------------------------------------------------
.slideshow
  :width $SITE_WIDTH
  .page_home.js .Content &
    :margin-left -$PAGE_HOME_WIDTH_DELTA/2
  
  UL.slides
    :margin 0
    :padding 0
    LI
      :list-style none
      .js &
        :display inline
        :float left
  *
    :box-sizing content-box
    :-moz-box-sizing content-box
  .jcarousel-container
    :padding 0px 40px
    * HTML &
      :float left
  .jcarousel-clip
    :height auto
    * HTML &
      :width 100%
  .jcarousel-list
  .jcarousel-item
    :text-align center
    :margin 0 10px
  .jcarousel-prev-horizontal, .jcarousel-next-horizontal
    :position absolute
    :top 64px
    :width 32px
    :height 32px
    :cursor pointer
  .jcarousel-next-horizontal
    :right 5px
    :background transparent url(/img/components/slideshow/icon_next.gif) no-repeat 0 0
  .jcarousel-prev-horizontal
    :left 5px
    :background transparent url(/img/components/slideshow/icon_prev.gif) no-repeat 0 0
  .jcarousel-next-horizontal, .jcarousel-prev-horizontal
    &:hover
      :background-position -32px 0
    &:active
      :background-position -64px 0
  .jcarousel-next-disabled-horizontal, .jcarousel-prev-disabled-horizontal
    :cursor default
    :background-position -96px 0
    &:hover, &:active
      :cursor default
      :background-position -96px 0

.jcarousel-skin-default
  .jcarousel-clip
    +border-radius( 15px )
    :background #2DA5CA
    :padding 40px 20px 40px 0
    #EmergingClients &
      :background #6BC1DA
  .slide
    :display block
    +border-radius( 5px )
    :padding 5px
    :background #FFF
    :height 77px
    :vertical-align middle
    A
      :display block
      :height 77px
      :width 190px
      :background no-repeat center center

.jcarousel-skin-photos
  .jcarousel-item
    :border-right 1px solid #BECBD1
    :text-align left

.jcarousel-skin-services
  .jcarousel-clip
    +border-radius( 15px )
    :background #FFF
  .jcarousel-item
    :border-right 1px solid #BECBD1
    :text-align left
  .slide
    :padding 10px 10px 10px 0

/*-------------------------------------------------------------------------
/* Modal
/*-------------------------------------------------------------------------
#ModalOverlay
  :background #000
#Modal
  :width $SITE_WIDTH - 200px
  :height auto
  :border 1px solid #FFF
  :background #FFF
  +border-radius(20px)
  .loading
    :margin-top 100px
    :text-align center
    :visibility hidden
    :color $COLOR_ORANGE
    :font-size 1.1em
    :font-weight bold
    IMG
    .text
      :margin 1em 0 0
  .controls
    :display none
    :text-align right
#ModalContent
  :display none
  :padding 2em

/*-------------------------------------------------------------------------
/* Components Instances
/*-------------------------------------------------------------------------
#Services
  :margin 4em 0
  H2
    :display none
  H3
    +clearfix
    :padding-top 5px
    :font-size 1.1em
    :color $COLOR_ORANGE
    IMG
      :vertical-align top
      :margin -5px 10px 0 0
      :float left
  P
    :margin 1em 0
  .icon_less
    :color #666
  .jcarousel-content-blocks
    :padding 0 3em 3em
  .jcarousel-content-block
  .active_item_indicator
    DIV
      :height 16px
      :line-height 1px
      :margin 0 20px 0 0
      +border-radius(8px 8px 3px 3px)
      :background $COLOR_ORANGE
      :*position relative
      :*top 4px

#Portfolio
  .abstract
    :border-top 1px solid $COLOR_ORANGE
    :margin-top .5em
    :padding-top 1em
  H2
    :margin 1em 0 0
    :font-size 1.4em
    :color #999999
  P
    :margin 0 0 1.4em

@import 'slideshow'