//-------------------------------------------------------------------------
// Dimensions
//-------------------------------------------------------------------------
$SITE_WIDTH: 960px

//-------------------------------------------------------------------------
// Colors & fonts
//-------------------------------------------------------------------------
$FONT: Helvetica, Arial, sans-serif
$FONT_HEADINGS: "Arial Narrow", $FONT

$COLOR_ORANGE: #F25623

//-------------------------------------------------------------------------
// Mixins
//-------------------------------------------------------------------------
=clearfix
  :overflow hidden
  :display inline-block
  &
    :display block

/*-------------------------------------------------------------------------
/* General
/*-------------------------------------------------------------------------
*
  :box-sizing border-box
  :-moz-box-sizing border-box

BODY
  :background #DEEFF6
  :margin 0

IMG
  :border none

HEADER, SECTION, FOOTER
  :display block

NAV
  UL
    :list-style none
    :margin 0
    :padding 0
    LI
      :display inline-block
      :*display inline

/*-------------------------------------------------------------------------
/* Typography
/*-------------------------------------------------------------------------
BODY
  :font 75%/1.2em $FONT

A
  :text-decoration none
  :color $COLOR_ORANGE
  .Footer &, .Info &
    :color #FFF
    &:HOVER
      :color $COLOR_ORANGE

H1, H2, H3
  :text-transform uppercase
  :font-family $FONT_HEADINGS

H1
  :font bold 3em/1em $FONT_HEADINGS
  :color #999999
  EM
    :color $COLOR_ORANGE
H2
  :font-size 1.4em
  :color $COLOR_ORANGE
  :margin 2em 0 1em
H3
  :font-size 1.2em

P, UL, OL, DL
  :margin 1.4em 0

EM
  :font-style normal

HR
  :height 1px
  :border none
  :border-bottom 1px solid #666

/*-------------------------------------------------------------------------
/* Structure
/*-------------------------------------------------------------------------
.Header
  :height 125px
  :background #000 url(/img/header_bg.gif) repeat-x
  .Logo
    :margin 30px 0 0

.MainNav
  +clearfix
  :font-family $FONT_HEADINGS
  :text-align right
  UL
    LI
      :vertical-align top
      :background #666
      A
        :display inline-block
        :padding 10px 20px
        :font-size 1.2em
        :font-weight bold
        :color #FFF
        :text-transform uppercase
      &:HOVER
        :background $COLOR_ORANGE
      &.selected A
        :background $COLOR_ORANGE
        :padding-bottom 20px
.Content
  :padding 1em 0 2em

.Footer
  :padding 2em 0
  :border-top 1px solid #D2D7D9
  :background #9AA5A9
  :text-align right

.FooterNav
  :line-height 1em
  LI
    :border-left 2px solid #FFF
    &.first
      :border-left none
    &.last A
      :padding-right 0
  A
    :display inline-block
    :padding 0 1em
    :font-weight bold
    :text-transform uppercase
  
  
.wrapper
  :width $SITE_WIDTH
  :margin 0px auto

/*-------------------------------------------------------------------------
/* Components
/*-------------------------------------------------------------------------
.Info
  +clearfix
  :background #9AA5A9
  .info_block
    :float left
    :width $SITE_WIDTH/3 - 2px
    .padding
      :padding 2em 1em
    .first
      :padding-left 0
    .last
      :padding-right 0
    H2
      :margin 0
      :color #FFF
/*-------------------------------------------------------------------------
/* Slideshow
/*-------------------------------------------------------------------------
UL.slideshow
  :margin 0
  :padding 0
  LI
    :list-style none
    :display inline-block
    .slide
      :display block
      :-moz-border-radius 5px
      :padding 5px
      :background #FFF
      :height 77px
      :vertical-align middle
      A
        :display block
        :height 77px
        :width 190px
        :background no-repeat center center

.jcarousel-skin-default
  *
    :box-sizing content-box
    :-moz-box-sizing content-box
  .jcarousel-container
  .jcarousel-container-horizontal
    :padding 0px 40px
  .jcarousel-clip-horizontal
    :-moz-border-radius 15px
    :background #2DA5CA
    :padding 40px 20px 40px 0
    :height auto
  .jcarousel-list
  .jcarousel-item
    :text-align center
    :Xpadding 5px
    :margin 0 10px
    :Xborder 1px solid lime
  .jcarousel-item-horizontal
  .jcarousel-item-placeholder
    :background #fff
    :color #000
  .jcarousel-next-horizontal
    :position absolute
    :top 50px
    :right 5px
    :width 32px
    :height 32px
    :cursor pointer
    :background transparent url(/js/plugins/jcarousel/skins/tango/next-horizontal.png) no-repeat 0 0
  .jcarousel-next-horizontal
    &:hover
      :background-position -32px 0
    &:active
      :background-position -64px 0
  .jcarousel-next-disabled-horizontal
    :cursor default
    :background-position -96px 0
    &:hover, &:active
      :cursor default
      :background-position -96px 0
  .jcarousel-prev-horizontal
    :position absolute
    :top 43px
    :left 5px
    :width 32px
    :height 32px
    :cursor pointer
    :background transparent url(/js/plugins/jcarousel/skins/tango/prev-horizontal.png) no-repeat 0 0
  .jcarousel-prev-horizontal
    &:hover
      :background-position -32px 0
    &:active
      :background-position -64px 0
  .jcarousel-prev-disabled-horizontal
    :cursor default
    :background-position -96px 0
    &:hover, &:active
      :cursor default
      :background-position -96px 0
    &:hover, &:active
      :cursor default
      :background-position 0 -96px

/*-------------------------------------------------------------------------
/* Debug
/*-------------------------------------------------------------------------
.debug
  :display none

@import 'slideshow'