- @title = "Results"

%ul.grid_3_cols#Portfolio
  - @items.each do |item|
    %li
      .item
        .img
          %img{ :src=>item.thumb }
        .info
          %h2= item.name
          .abstract
            :markdown
              #{item.abstract}

%style
  :sass
    H1
      :visibility hidden
